*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 100px;
  transform-style: preserve-3d;
  transition-duration: 0.5s;
}

.container:hover{
  transform: rotateX(-90deg);
}
.front-box{
  height: 100px;
  background-color: red;
  text-align: center;
  line-height: 100px;
  color: white;
  transform: translateZ(50px);
}

.rear-box{
  height: 100px;
  background-color: brown;
  text-align: center;
  line-height: 100px;
  color: white;
  transform: rotateX(90deg) translateZ(150px);
}